flows_NWS.json
[
    {
        "id": "6563ac33.f10a74",
        "type": "tab",
        "label": "Node1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7bb20a30.eabad4",
        "type": "tab",
        "label": "Node2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40679d4a.123ac4",
        "type": "tab",
        "label": "Node3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd5c018a.b6249",
        "type": "tab",
        "label": "Node4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66228159.d3057",
        "type": "tab",
        "label": "Node12",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ced3cdc0.d0089",
        "type": "tab",
        "label": "Node22",
        "disabled": false,
        "info": ""
    },
    {
        "id": "143a9fcd.2c3a7",
        "type": "tab",
        "label": "Node32",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1d98ce59.9aebf2",
        "type": "tab",
        "label": "Node42",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c9d70a3.ca714",
        "type": "tab",
        "label": "Node13",
        "disabled": false,
        "info": ""
    },
    {
        "id": "38e8fa1d.636de6",
        "type": "tab",
        "label": "Node23",
        "disabled": false,
        "info": ""
    },
    {
        "id": "786ac56a.e1a5dc",
        "type": "tab",
        "label": "Node33",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a89f272f.a40e18",
        "type": "tab",
        "label": "Node43",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c5b1185.80d0c",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "cdadb2f9.aeabc",
        "type": "mqtt-broker",
        "name": "pi",
        "broker": "192.168.2.150",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "irrigationtime",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "948ed97f.0b1368",
        "type": "ui_tab",
        "name": "Baghdad Irrigation System ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19ae0ab.001d9f5",
        "type": "ui_group",
        "name": "Node2",
        "tab": "948ed97f.0b1368",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a2038ba.1bebb78",
        "type": "ui_group",
        "name": "Node3",
        "tab": "948ed97f.0b1368",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "55b91c9a.147274",
        "type": "ui_group",
        "name": "Node4",
        "tab": "948ed97f.0b1368",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2edcc27e.b0e8ce",
        "type": "ui_tab",
        "name": "Babil Irrigation System ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2a52416.3302b8",
        "type": "ui_group",
        "name": "Node1",
        "tab": "2edcc27e.b0e8ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "72663ebe.e2e32",
        "type": "ui_group",
        "name": "Node2",
        "tab": "2edcc27e.b0e8ce",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ee99d6c.a601a",
        "type": "ui_group",
        "name": "Node3",
        "tab": "2edcc27e.b0e8ce",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5a7a6f56.e2a09",
        "type": "ui_group",
        "name": "Node4",
        "tab": "2edcc27e.b0e8ce",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71926c8a.59bf14",
        "type": "ui_tab",
        "name": "Diyala Irrigation System ",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afd6c03f.b3778",
        "type": "ui_group",
        "name": "Node1",
        "tab": "71926c8a.59bf14",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6da32a3c.3b5664",
        "type": "ui_group",
        "name": "Node2",
        "tab": "71926c8a.59bf14",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4030d44.bdf53",
        "type": "ui_group",
        "name": "Node3",
        "tab": "71926c8a.59bf14",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "36753ddf.54ae52",
        "type": "ui_group",
        "name": "Node4",
        "tab": "71926c8a.59bf14",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3389ef3e.c789",
        "type": "ui_group",
        "name": "Node1",
        "tab": "948ed97f.0b1368",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e83360cd.b613b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "be3da53.89a1458",
        "type": "mqtt in",
        "z": "7bb20a30.eabad4",
        "name": "node2",
        "topic": "node2/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "20b6e59e.98fe3a"
            ]
        ]
    },
    {
        "id": "20b6e59e.98fe3a",
        "type": "function",
        "z": "7bb20a30.eabad4",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "6d7a60e2.41158",
                "521ad2.9eea153"
            ]
        ]
    },
    {
        "id": "6d7a60e2.41158",
        "type": "function",
        "z": "7bb20a30.eabad4",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "3d816df9.086ff2"
            ]
        ]
    },
    {
        "id": "521ad2.9eea153",
        "type": "function",
        "z": "7bb20a30.eabad4",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "b515249a.5f4e28"
            ]
        ]
    },
    {
        "id": "97161dfc.1a81f",
        "type": "ui_text",
        "z": "7bb20a30.eabad4",
        "group": "19ae0ab.001d9f5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.152",
        "layout": "row-spread",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "35d72a11.2d1c16",
        "type": "mqtt in",
        "z": "7bb20a30.eabad4",
        "name": "LED2",
        "topic": "node2/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "6abc1c13.db7714"
            ]
        ]
    },
    {
        "id": "4a5c5d37.2edf74",
        "type": "mqtt in",
        "z": "7bb20a30.eabad4",
        "name": "LED1",
        "topic": "node2/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "122d6f74.4d3501"
            ]
        ]
    },
    {
        "id": "6abc1c13.db7714",
        "type": "change",
        "z": "7bb20a30.eabad4",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "85c4314.dccfad"
            ]
        ]
    },
    {
        "id": "122d6f74.4d3501",
        "type": "change",
        "z": "7bb20a30.eabad4",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "ac7d4095.cc456"
            ]
        ]
    },
    {
        "id": "af78770b.b59348",
        "type": "mqtt in",
        "z": "7bb20a30.eabad4",
        "name": "count",
        "topic": "node2/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "870f4e2b.ca1d7"
            ]
        ]
    },
    {
        "id": "42b6dd40.e47374",
        "type": "mqtt in",
        "z": "7bb20a30.eabad4",
        "name": "DoS Check",
        "topic": "node2/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "be844ced.b9c7a",
                "b6b16e7f.e0485"
            ]
        ]
    },
    {
        "id": "be844ced.b9c7a",
        "type": "ui_toast",
        "z": "7bb20a30.eabad4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node2/cmd/DoS",
        "name": "",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "a9eb802d.3ea07",
        "type": "ui_text",
        "z": "40679d4a.123ac4",
        "group": "a2038ba.1bebb78",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.153",
        "layout": "row-spread",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "72db1817.4bc658",
        "type": "mqtt in",
        "z": "40679d4a.123ac4",
        "name": "node3",
        "topic": "node3/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "6e852ffd.92bb2"
            ]
        ]
    },
    {
        "id": "6e852ffd.92bb2",
        "type": "function",
        "z": "40679d4a.123ac4",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "da59a671.c602d8",
                "ff1ed04c.07a26"
            ]
        ]
    },
    {
        "id": "da59a671.c602d8",
        "type": "function",
        "z": "40679d4a.123ac4",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "7a5539bc.3185e8"
            ]
        ]
    },
    {
        "id": "ff1ed04c.07a26",
        "type": "function",
        "z": "40679d4a.123ac4",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "bb04997b.893698"
            ]
        ]
    },
    {
        "id": "7a5539bc.3185e8",
        "type": "ui_gauge",
        "z": "40679d4a.123ac4",
        "name": "Temperature",
        "group": "a2038ba.1bebb78",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb04997b.893698",
        "type": "ui_gauge",
        "z": "40679d4a.123ac4",
        "name": "Moisture",
        "group": "a2038ba.1bebb78",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "18e41a8b.7b21c5",
        "type": "mqtt in",
        "z": "40679d4a.123ac4",
        "name": "LED2",
        "topic": "node3/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "b02b798c.ed6668"
            ]
        ]
    },
    {
        "id": "4017c0e7.58515",
        "type": "mqtt in",
        "z": "40679d4a.123ac4",
        "name": "LED1",
        "topic": "node3/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "e62f9851.964a08"
            ]
        ]
    },
    {
        "id": "b02b798c.ed6668",
        "type": "change",
        "z": "40679d4a.123ac4",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "8a3f7ab.e95b488"
            ]
        ]
    },
    {
        "id": "e62f9851.964a08",
        "type": "change",
        "z": "40679d4a.123ac4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "eb39c5d.9f63e38"
            ]
        ]
    },
    {
        "id": "8a3f7ab.e95b488",
        "type": "ui_text",
        "z": "40679d4a.123ac4",
        "group": "a2038ba.1bebb78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb39c5d.9f63e38",
        "type": "ui_text",
        "z": "40679d4a.123ac4",
        "group": "a2038ba.1bebb78",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "2be521ca.e016ce",
        "type": "mqtt in",
        "z": "40679d4a.123ac4",
        "name": "count",
        "topic": "node3/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "e3dc98c9.6ed5c8"
            ]
        ]
    },
    {
        "id": "e3dc98c9.6ed5c8",
        "type": "ui_numeric",
        "z": "40679d4a.123ac4",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "a2038ba.1bebb78",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "97b05203.37b22",
        "type": "mqtt in",
        "z": "40679d4a.123ac4",
        "name": "DoS Check",
        "topic": "node3/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "28e09aa.edb2866",
                "f2b9c291.cd0a2"
            ]
        ]
    },
    {
        "id": "28e09aa.edb2866",
        "type": "ui_text",
        "z": "40679d4a.123ac4",
        "group": "a2038ba.1bebb78",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "f2b9c291.cd0a2",
        "type": "ui_toast",
        "z": "40679d4a.123ac4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node3/cmd/DoS",
        "name": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "1e18822b.37fefe",
        "type": "mqtt in",
        "z": "bd5c018a.b6249",
        "name": "node4",
        "topic": "node4/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "4ff637ea.0eeed8"
            ]
        ]
    },
    {
        "id": "4ff637ea.0eeed8",
        "type": "function",
        "z": "bd5c018a.b6249",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "706f83ce.e21ebc",
                "d0a93c5b.94eb6"
            ]
        ]
    },
    {
        "id": "706f83ce.e21ebc",
        "type": "function",
        "z": "bd5c018a.b6249",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "700ecee.41ed63"
            ]
        ]
    },
    {
        "id": "d0a93c5b.94eb6",
        "type": "function",
        "z": "bd5c018a.b6249",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "26f952b4.a02b7e"
            ]
        ]
    },
    {
        "id": "700ecee.41ed63",
        "type": "ui_gauge",
        "z": "bd5c018a.b6249",
        "name": "Temperature",
        "group": "55b91c9a.147274",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "26f952b4.a02b7e",
        "type": "ui_gauge",
        "z": "bd5c018a.b6249",
        "name": "Moisture",
        "group": "55b91c9a.147274",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "e1b328a7.096ce8",
        "type": "ui_text",
        "z": "bd5c018a.b6249",
        "group": "55b91c9a.147274",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.154",
        "layout": "row-spread",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "62dfc864.9e4cc8",
        "type": "mqtt in",
        "z": "bd5c018a.b6249",
        "name": "LED2",
        "topic": "node4/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "f409883f.7094a8"
            ]
        ]
    },
    {
        "id": "866f5fc8.3bc59",
        "type": "mqtt in",
        "z": "bd5c018a.b6249",
        "name": "LED1",
        "topic": "node4/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "c94436b4.d00798"
            ]
        ]
    },
    {
        "id": "f409883f.7094a8",
        "type": "change",
        "z": "bd5c018a.b6249",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":(msg.payload=\"off\")? \"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "4d666915.f51618"
            ]
        ]
    },
    {
        "id": "c94436b4.d00798",
        "type": "change",
        "z": "bd5c018a.b6249",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "1135ddc5.2404f2"
            ]
        ],
        "info": "if (msg.payload < 25)\r\n    msg.payload.color = \"green\";\r\nelse\r\n    msg.payload.color = \"red\";"
    },
    {
        "id": "4d666915.f51618",
        "type": "ui_text",
        "z": "bd5c018a.b6249",
        "group": "55b91c9a.147274",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "LED2",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "3097855e.16b75a",
        "type": "ui_text",
        "z": "bd5c018a.b6249",
        "group": "55b91c9a.147274",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "DosStatus",
        "label": "DoS Status",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "1135ddc5.2404f2",
        "type": "ui_text",
        "z": "bd5c018a.b6249",
        "group": "55b91c9a.147274",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "LED1",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "d48c576c.b99558",
        "type": "mqtt in",
        "z": "bd5c018a.b6249",
        "name": "count",
        "topic": "node4/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "2c678504.01d66a"
            ]
        ]
    },
    {
        "id": "4261bf33.52808",
        "type": "mqtt in",
        "z": "bd5c018a.b6249",
        "name": "DoS Check",
        "topic": "node4/cmd/DoS",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "7b6d6795.15d228",
                "a7ce7d36.668f"
            ]
        ]
    },
    {
        "id": "7b6d6795.15d228",
        "type": "ui_toast",
        "z": "bd5c018a.b6249",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node4/cmd/DoS",
        "name": "",
        "x": 420,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2c678504.01d66a",
        "type": "ui_numeric",
        "z": "bd5c018a.b6249",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "55b91c9a.147274",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a7ce7d36.668f",
        "type": "change",
        "z": "bd5c018a.b6249",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"Regular\")? \"green\":(msg.payload=\"Block\")?\"red\":\"yellow\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "3097855e.16b75a"
            ]
        ]
    },
    {
        "id": "d5e89895.b88c28",
        "type": "mqtt in",
        "z": "6563ac33.f10a74",
        "name": "node1",
        "topic": "node1/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fd0abaa5.a2b688"
            ]
        ]
    },
    {
        "id": "2b620738.a775b8",
        "type": "ui_gauge",
        "z": "6563ac33.f10a74",
        "name": "",
        "group": "3389ef3e.c789",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "c",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "84a70af4.d72d28",
        "type": "ui_gauge",
        "z": "6563ac33.f10a74",
        "name": "Moisture",
        "group": "3389ef3e.c789",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd0abaa5.a2b688",
        "type": "function",
        "z": "6563ac33.f10a74",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "a34ac5e.c643138",
                "b7a55cc8.d7a6e"
            ]
        ]
    },
    {
        "id": "d9d63f41.1d91b",
        "type": "debug",
        "z": "6563ac33.f10a74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "a34ac5e.c643138",
        "type": "function",
        "z": "6563ac33.f10a74",
        "name": "temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "2b620738.a775b8",
                "d9d63f41.1d91b"
            ]
        ]
    },
    {
        "id": "b7a55cc8.d7a6e",
        "type": "function",
        "z": "6563ac33.f10a74",
        "name": "hum.",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "84a70af4.d72d28",
                "a66c0438.54e878"
            ]
        ]
    },
    {
        "id": "a66c0438.54e878",
        "type": "debug",
        "z": "6563ac33.f10a74",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "33945045.866c9",
        "type": "mqtt in",
        "z": "6563ac33.f10a74",
        "name": "LED1",
        "topic": "node1/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "76b4f333.cd0dbc",
                "1d81a15c.d8d96f"
            ]
        ]
    },
    {
        "id": "bdb59e50.dd4c",
        "type": "mqtt in",
        "z": "6563ac33.f10a74",
        "name": "LED2",
        "topic": "node1/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "c6ce27ea.b5ac88",
                "4544f064.be98c"
            ]
        ]
    },
    {
        "id": "dd14b0a6.8d5e6",
        "type": "ui_text",
        "z": "6563ac33.f10a74",
        "group": "3389ef3e.c789",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "aa519596.36c468",
        "type": "ui_text",
        "z": "6563ac33.f10a74",
        "group": "3389ef3e.c789",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "4544f064.be98c",
        "type": "debug",
        "z": "6563ac33.f10a74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "76b4f333.cd0dbc",
        "type": "debug",
        "z": "6563ac33.f10a74",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "c6ce27ea.b5ac88",
        "type": "change",
        "z": "6563ac33.f10a74",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "dd14b0a6.8d5e6"
            ]
        ]
    },
    {
        "id": "1d81a15c.d8d96f",
        "type": "change",
        "z": "6563ac33.f10a74",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\" :\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "aa519596.36c468"
            ]
        ]
    },
    {
        "id": "24cd7d6c.131122",
        "type": "mqtt in",
        "z": "6563ac33.f10a74",
        "name": "count",
        "topic": "node1/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "b701b418.e309c8"
            ]
        ]
    },
    {
        "id": "b701b418.e309c8",
        "type": "ui_numeric",
        "z": "6563ac33.f10a74",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "3389ef3e.c789",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c3dbb2a0.6a888",
        "type": "ui_text",
        "z": "6563ac33.f10a74",
        "group": "3389ef3e.c789",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.151",
        "layout": "row-spread",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "695d043b.a514ac",
        "type": "mqtt in",
        "z": "6563ac33.f10a74",
        "name": "DoS check",
        "topic": "node1/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "2bcb7903.6f6a06",
                "e8c84f54.d35e"
            ]
        ]
    },
    {
        "id": "2bcb7903.6f6a06",
        "type": "ui_text",
        "z": "6563ac33.f10a74",
        "group": "3389ef3e.c789",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "e8c84f54.d35e",
        "type": "ui_toast",
        "z": "6563ac33.f10a74",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node1/cmd/DoS",
        "name": "",
        "x": 410,
        "y": 660,
        "wires": []
    },
    {
        "id": "6b1f0dcb.e067b4",
        "type": "mqtt in",
        "z": "66228159.d3057",
        "name": "node1",
        "topic": "node1/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "db0e5827.2c5a28"
            ]
        ]
    },
    {
        "id": "33e77531.4e7c5a",
        "type": "ui_gauge",
        "z": "66228159.d3057",
        "name": "",
        "group": "c2a52416.3302b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "c",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "fe7dbe30.5cfdc",
        "type": "ui_gauge",
        "z": "66228159.d3057",
        "name": "Moisture",
        "group": "c2a52416.3302b8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "db0e5827.2c5a28",
        "type": "function",
        "z": "66228159.d3057",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "91f9e065.1a628",
                "a7f89dba.1fd2"
            ]
        ]
    },
    {
        "id": "585d140a.179bfc",
        "type": "debug",
        "z": "66228159.d3057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "91f9e065.1a628",
        "type": "function",
        "z": "66228159.d3057",
        "name": "temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "33e77531.4e7c5a",
                "585d140a.179bfc"
            ]
        ]
    },
    {
        "id": "a7f89dba.1fd2",
        "type": "function",
        "z": "66228159.d3057",
        "name": "hum.",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "fe7dbe30.5cfdc",
                "1d9f5852.d5eb68"
            ]
        ]
    },
    {
        "id": "1d9f5852.d5eb68",
        "type": "debug",
        "z": "66228159.d3057",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "36c58603.66287a",
        "type": "mqtt in",
        "z": "66228159.d3057",
        "name": "LED1",
        "topic": "node1/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "5ebcd84f.01e338",
                "ca46fae3.744518"
            ]
        ]
    },
    {
        "id": "efa632a1.364b5",
        "type": "mqtt in",
        "z": "66228159.d3057",
        "name": "LED2",
        "topic": "node1/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "f317bf1d.307c7",
                "6f21595d.863b38"
            ]
        ]
    },
    {
        "id": "f97d95c6.88a508",
        "type": "ui_text",
        "z": "66228159.d3057",
        "group": "c2a52416.3302b8",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "ff38bf29.9e8bb",
        "type": "ui_text",
        "z": "66228159.d3057",
        "group": "c2a52416.3302b8",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "6f21595d.863b38",
        "type": "debug",
        "z": "66228159.d3057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ebcd84f.01e338",
        "type": "debug",
        "z": "66228159.d3057",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "f317bf1d.307c7",
        "type": "change",
        "z": "66228159.d3057",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "f97d95c6.88a508"
            ]
        ]
    },
    {
        "id": "ca46fae3.744518",
        "type": "change",
        "z": "66228159.d3057",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\" :\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "ff38bf29.9e8bb"
            ]
        ]
    },
    {
        "id": "fb87671.5909698",
        "type": "mqtt in",
        "z": "66228159.d3057",
        "name": "count",
        "topic": "node1/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "e7d0b8d4.98b238"
            ]
        ]
    },
    {
        "id": "e7d0b8d4.98b238",
        "type": "ui_numeric",
        "z": "66228159.d3057",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "c2a52416.3302b8",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "21cd646d.fe4e8c",
        "type": "ui_text",
        "z": "66228159.d3057",
        "group": "c2a52416.3302b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.161",
        "layout": "row-spread",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "639d0aab.c064d4",
        "type": "mqtt in",
        "z": "66228159.d3057",
        "name": "DoS check",
        "topic": "node1/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "795ce54b.718dfc",
                "b7360c09.59ad9"
            ]
        ]
    },
    {
        "id": "795ce54b.718dfc",
        "type": "ui_text",
        "z": "66228159.d3057",
        "group": "c2a52416.3302b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "b7360c09.59ad9",
        "type": "ui_toast",
        "z": "66228159.d3057",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node1/cmd/DoS",
        "name": "",
        "x": 410,
        "y": 660,
        "wires": []
    },
    {
        "id": "e3eee1a0.40658",
        "type": "ui_gauge",
        "z": "ced3cdc0.d0089",
        "name": "Moisture",
        "group": "72663ebe.e2e32",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "63cc5efa.b792c",
        "type": "mqtt in",
        "z": "ced3cdc0.d0089",
        "name": "node2",
        "topic": "node2/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "61f865c4.533cbc"
            ]
        ]
    },
    {
        "id": "61f865c4.533cbc",
        "type": "function",
        "z": "ced3cdc0.d0089",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "b8cc8d76.38a2",
                "a6c37900.493678"
            ]
        ]
    },
    {
        "id": "b8cc8d76.38a2",
        "type": "function",
        "z": "ced3cdc0.d0089",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "4d09ce5c.27a6d"
            ]
        ]
    },
    {
        "id": "a6c37900.493678",
        "type": "function",
        "z": "ced3cdc0.d0089",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "e3eee1a0.40658"
            ]
        ]
    },
    {
        "id": "9048b71c.fe52b8",
        "type": "ui_text",
        "z": "ced3cdc0.d0089",
        "group": "72663ebe.e2e32",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.162",
        "layout": "row-spread",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "f7add382.54603",
        "type": "mqtt in",
        "z": "ced3cdc0.d0089",
        "name": "LED2",
        "topic": "node2/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "2931008c.78fc4"
            ]
        ]
    },
    {
        "id": "9b4df3f9.b5fb6",
        "type": "mqtt in",
        "z": "ced3cdc0.d0089",
        "name": "LED1",
        "topic": "node2/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "43a969e4.67ddd8"
            ]
        ]
    },
    {
        "id": "2931008c.78fc4",
        "type": "change",
        "z": "ced3cdc0.d0089",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "f6ea2938.edffe8"
            ]
        ]
    },
    {
        "id": "43a969e4.67ddd8",
        "type": "change",
        "z": "ced3cdc0.d0089",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "beddf817.7ee6a8"
            ]
        ]
    },
    {
        "id": "f6ea2938.edffe8",
        "type": "ui_text",
        "z": "ced3cdc0.d0089",
        "group": "72663ebe.e2e32",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "beddf817.7ee6a8",
        "type": "ui_text",
        "z": "ced3cdc0.d0089",
        "group": "72663ebe.e2e32",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "9823dba0.903998",
        "type": "mqtt in",
        "z": "ced3cdc0.d0089",
        "name": "count",
        "topic": "node2/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "5ea1fcf1.60f634"
            ]
        ]
    },
    {
        "id": "5ea1fcf1.60f634",
        "type": "ui_numeric",
        "z": "ced3cdc0.d0089",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "72663ebe.e2e32",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 460,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9bb358ba.c68618",
        "type": "mqtt in",
        "z": "ced3cdc0.d0089",
        "name": "DoS Check",
        "topic": "node2/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "c73fc404.92c5f8",
                "6370a680.94b8b8"
            ]
        ]
    },
    {
        "id": "c73fc404.92c5f8",
        "type": "ui_text",
        "z": "ced3cdc0.d0089",
        "group": "72663ebe.e2e32",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "6370a680.94b8b8",
        "type": "ui_toast",
        "z": "ced3cdc0.d0089",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node2/cmd/DoS",
        "name": "",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "4d09ce5c.27a6d",
        "type": "ui_gauge",
        "z": "ced3cdc0.d0089",
        "name": "Temperature",
        "group": "72663ebe.e2e32",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d816df9.086ff2",
        "type": "ui_gauge",
        "z": "7bb20a30.eabad4",
        "name": "Temperature",
        "group": "19ae0ab.001d9f5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "b515249a.5f4e28",
        "type": "ui_gauge",
        "z": "7bb20a30.eabad4",
        "name": "Moisture",
        "group": "19ae0ab.001d9f5",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "85c4314.dccfad",
        "type": "ui_text",
        "z": "7bb20a30.eabad4",
        "group": "19ae0ab.001d9f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "LED2",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "ac7d4095.cc456",
        "type": "ui_text",
        "z": "7bb20a30.eabad4",
        "group": "19ae0ab.001d9f5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "LED1",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "b6b16e7f.e0485",
        "type": "ui_text",
        "z": "7bb20a30.eabad4",
        "group": "19ae0ab.001d9f5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "DoS Status",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "50f45d79.bb3654",
        "type": "ui_text",
        "z": "143a9fcd.2c3a7",
        "group": "8ee99d6c.a601a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.163",
        "layout": "row-spread",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "d9e3753a.814878",
        "type": "mqtt in",
        "z": "143a9fcd.2c3a7",
        "name": "node3",
        "topic": "node3/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "24ba3d5c.35e902"
            ]
        ]
    },
    {
        "id": "24ba3d5c.35e902",
        "type": "function",
        "z": "143a9fcd.2c3a7",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "f0f6841b.6e6f28",
                "cffcb637.90ce18"
            ]
        ]
    },
    {
        "id": "f0f6841b.6e6f28",
        "type": "function",
        "z": "143a9fcd.2c3a7",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "12b3ca5c.611bb6"
            ]
        ]
    },
    {
        "id": "cffcb637.90ce18",
        "type": "function",
        "z": "143a9fcd.2c3a7",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "affb1ae5.b81538"
            ]
        ]
    },
    {
        "id": "12b3ca5c.611bb6",
        "type": "ui_gauge",
        "z": "143a9fcd.2c3a7",
        "name": "Temperature",
        "group": "8ee99d6c.a601a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "affb1ae5.b81538",
        "type": "ui_gauge",
        "z": "143a9fcd.2c3a7",
        "name": "Moisture",
        "group": "8ee99d6c.a601a",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "ca728eee.a98f2",
        "type": "mqtt in",
        "z": "143a9fcd.2c3a7",
        "name": "LED2",
        "topic": "node3/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "1dde3fe6.8e2dc"
            ]
        ]
    },
    {
        "id": "257ac082.c1523",
        "type": "mqtt in",
        "z": "143a9fcd.2c3a7",
        "name": "LED1",
        "topic": "node3/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "4a2648e5.bb3158"
            ]
        ]
    },
    {
        "id": "1dde3fe6.8e2dc",
        "type": "change",
        "z": "143a9fcd.2c3a7",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "86e203a2.addc9"
            ]
        ]
    },
    {
        "id": "4a2648e5.bb3158",
        "type": "change",
        "z": "143a9fcd.2c3a7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "ab6c18cf.a4ff78"
            ]
        ]
    },
    {
        "id": "86e203a2.addc9",
        "type": "ui_text",
        "z": "143a9fcd.2c3a7",
        "group": "8ee99d6c.a601a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab6c18cf.a4ff78",
        "type": "ui_text",
        "z": "143a9fcd.2c3a7",
        "group": "8ee99d6c.a601a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "35ff0431.ac145c",
        "type": "mqtt in",
        "z": "143a9fcd.2c3a7",
        "name": "count",
        "topic": "node3/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "5169a1a0.a47aa"
            ]
        ]
    },
    {
        "id": "5169a1a0.a47aa",
        "type": "ui_numeric",
        "z": "143a9fcd.2c3a7",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "8ee99d6c.a601a",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc36457.5c23dc",
        "type": "mqtt in",
        "z": "143a9fcd.2c3a7",
        "name": "DoS Check",
        "topic": "node3/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "24480476.a155ec",
                "8fbc13c8.ded03"
            ]
        ]
    },
    {
        "id": "24480476.a155ec",
        "type": "ui_text",
        "z": "143a9fcd.2c3a7",
        "group": "8ee99d6c.a601a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "8fbc13c8.ded03",
        "type": "ui_toast",
        "z": "143a9fcd.2c3a7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node3/cmd/DoS",
        "name": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "eaacf88.fdf3c08",
        "type": "mqtt in",
        "z": "1d98ce59.9aebf2",
        "name": "node4",
        "topic": "node4/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "19a98e16.1d6322"
            ]
        ]
    },
    {
        "id": "19a98e16.1d6322",
        "type": "function",
        "z": "1d98ce59.9aebf2",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "2fc3f472.51b8dc",
                "88a1717e.0d7ed"
            ]
        ]
    },
    {
        "id": "2fc3f472.51b8dc",
        "type": "function",
        "z": "1d98ce59.9aebf2",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "33d2b12a.2cfcae"
            ]
        ]
    },
    {
        "id": "88a1717e.0d7ed",
        "type": "function",
        "z": "1d98ce59.9aebf2",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "a87fc426.7033b8"
            ]
        ]
    },
    {
        "id": "33d2b12a.2cfcae",
        "type": "ui_gauge",
        "z": "1d98ce59.9aebf2",
        "name": "Temperature",
        "group": "5a7a6f56.e2a09",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "a87fc426.7033b8",
        "type": "ui_gauge",
        "z": "1d98ce59.9aebf2",
        "name": "Moisture",
        "group": "5a7a6f56.e2a09",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "e7bf82f8.3db49",
        "type": "ui_text",
        "z": "1d98ce59.9aebf2",
        "group": "5a7a6f56.e2a09",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.164",
        "layout": "row-spread",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "f9e2b36c.4bc22",
        "type": "mqtt in",
        "z": "1d98ce59.9aebf2",
        "name": "LED2",
        "topic": "node4/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "f274fb83.3cec08"
            ]
        ]
    },
    {
        "id": "ca01e1a8.efbc7",
        "type": "mqtt in",
        "z": "1d98ce59.9aebf2",
        "name": "LED1",
        "topic": "node4/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "f3f97d97.24fdf"
            ]
        ]
    },
    {
        "id": "f274fb83.3cec08",
        "type": "change",
        "z": "1d98ce59.9aebf2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":(msg.payload=\"off\")? \"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "d08b00.2fd725"
            ]
        ]
    },
    {
        "id": "f3f97d97.24fdf",
        "type": "change",
        "z": "1d98ce59.9aebf2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "d1b8c490.af9b88"
            ]
        ],
        "info": "if (msg.payload < 25)\r\n    msg.payload.color = \"green\";\r\nelse\r\n    msg.payload.color = \"red\";"
    },
    {
        "id": "d08b00.2fd725",
        "type": "ui_text",
        "z": "1d98ce59.9aebf2",
        "group": "5a7a6f56.e2a09",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "LED2",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "9928a89a.825db8",
        "type": "ui_text",
        "z": "1d98ce59.9aebf2",
        "group": "5a7a6f56.e2a09",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "DosStatus",
        "label": "DoS Status",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "d1b8c490.af9b88",
        "type": "ui_text",
        "z": "1d98ce59.9aebf2",
        "group": "5a7a6f56.e2a09",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "LED1",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d05e44b.be528c",
        "type": "mqtt in",
        "z": "1d98ce59.9aebf2",
        "name": "count",
        "topic": "node4/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "b1976c42.8d353"
            ]
        ]
    },
    {
        "id": "74b4e390.9e852c",
        "type": "mqtt in",
        "z": "1d98ce59.9aebf2",
        "name": "DoS Check",
        "topic": "node4/cmd/DoS",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "e43ca1fb.37192",
                "7f761656.3c6c08"
            ]
        ]
    },
    {
        "id": "e43ca1fb.37192",
        "type": "ui_toast",
        "z": "1d98ce59.9aebf2",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node4/cmd/DoS",
        "name": "",
        "x": 420,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b1976c42.8d353",
        "type": "ui_numeric",
        "z": "1d98ce59.9aebf2",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "5a7a6f56.e2a09",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7f761656.3c6c08",
        "type": "change",
        "z": "1d98ce59.9aebf2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"Regular\")? \"green\":(msg.payload=\"Block\")?\"red\":\"yellow\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "9928a89a.825db8"
            ]
        ]
    },
    {
        "id": "870f4e2b.ca1d7",
        "type": "ui_numeric",
        "z": "7bb20a30.eabad4",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "19ae0ab.001d9f5",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 480,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "65dde66f.b2b788",
        "type": "mqtt in",
        "z": "9c9d70a3.ca714",
        "name": "node1",
        "topic": "node1/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c336900d.e2c0d"
            ]
        ]
    },
    {
        "id": "fb84c605.8cd418",
        "type": "ui_gauge",
        "z": "9c9d70a3.ca714",
        "name": "",
        "group": "afd6c03f.b3778",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "c",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "3e60cf41.34dfa",
        "type": "ui_gauge",
        "z": "9c9d70a3.ca714",
        "name": "Moisture",
        "group": "afd6c03f.b3778",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "c336900d.e2c0d",
        "type": "function",
        "z": "9c9d70a3.ca714",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6b0aeeac.4a81",
                "e73743fc.5b331"
            ]
        ]
    },
    {
        "id": "721c94ea.4f172c",
        "type": "debug",
        "z": "9c9d70a3.ca714",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "6b0aeeac.4a81",
        "type": "function",
        "z": "9c9d70a3.ca714",
        "name": "temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 60,
        "wires": [
            [
                "fb84c605.8cd418",
                "721c94ea.4f172c"
            ]
        ]
    },
    {
        "id": "e73743fc.5b331",
        "type": "function",
        "z": "9c9d70a3.ca714",
        "name": "hum.",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "3e60cf41.34dfa",
                "79c26fec.8546c"
            ]
        ]
    },
    {
        "id": "79c26fec.8546c",
        "type": "debug",
        "z": "9c9d70a3.ca714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "6c0343e6.803ddc",
        "type": "mqtt in",
        "z": "9c9d70a3.ca714",
        "name": "LED1",
        "topic": "node1/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "f0cc7cd4.3225f",
                "207aaed0.bba172"
            ]
        ]
    },
    {
        "id": "e79397e4.bdce88",
        "type": "mqtt in",
        "z": "9c9d70a3.ca714",
        "name": "LED2",
        "topic": "node1/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "b758ffea.ae644",
                "b2a67c90.5e5"
            ]
        ]
    },
    {
        "id": "d2d54eb2.b8e93",
        "type": "ui_text",
        "z": "9c9d70a3.ca714",
        "group": "afd6c03f.b3778",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "287b343b.5374bc",
        "type": "ui_text",
        "z": "9c9d70a3.ca714",
        "group": "afd6c03f.b3778",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "b2a67c90.5e5",
        "type": "debug",
        "z": "9c9d70a3.ca714",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0cc7cd4.3225f",
        "type": "debug",
        "z": "9c9d70a3.ca714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "b758ffea.ae644",
        "type": "change",
        "z": "9c9d70a3.ca714",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "d2d54eb2.b8e93"
            ]
        ]
    },
    {
        "id": "207aaed0.bba172",
        "type": "change",
        "z": "9c9d70a3.ca714",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\" :\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "287b343b.5374bc"
            ]
        ]
    },
    {
        "id": "b3c11a7d.019cf8",
        "type": "mqtt in",
        "z": "9c9d70a3.ca714",
        "name": "count",
        "topic": "node1/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "c5128026.b4d1f"
            ]
        ]
    },
    {
        "id": "c5128026.b4d1f",
        "type": "ui_numeric",
        "z": "9c9d70a3.ca714",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "afd6c03f.b3778",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "25552ca7.e7c614",
        "type": "ui_text",
        "z": "9c9d70a3.ca714",
        "group": "afd6c03f.b3778",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.171",
        "layout": "row-spread",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "c9e5ec53.7a7c",
        "type": "mqtt in",
        "z": "9c9d70a3.ca714",
        "name": "DoS check",
        "topic": "node1/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "53791d4.0916fe4",
                "fe574465.0c67c8"
            ]
        ]
    },
    {
        "id": "53791d4.0916fe4",
        "type": "ui_text",
        "z": "9c9d70a3.ca714",
        "group": "afd6c03f.b3778",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "fe574465.0c67c8",
        "type": "ui_toast",
        "z": "9c9d70a3.ca714",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node1/cmd/DoS",
        "name": "",
        "x": 410,
        "y": 660,
        "wires": []
    },
    {
        "id": "226fde05.5d8882",
        "type": "ui_gauge",
        "z": "38e8fa1d.636de6",
        "name": "Temperature",
        "group": "6da32a3c.3b5664",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "8f40912c.00306",
        "type": "ui_gauge",
        "z": "38e8fa1d.636de6",
        "name": "Moisture",
        "group": "6da32a3c.3b5664",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "23a2291d.f6bed6",
        "type": "mqtt in",
        "z": "38e8fa1d.636de6",
        "name": "node2",
        "topic": "node2/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "848b7051.4eb0c"
            ]
        ]
    },
    {
        "id": "848b7051.4eb0c",
        "type": "function",
        "z": "38e8fa1d.636de6",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "9f7b3471.0501d8",
                "191b7006.bd588"
            ]
        ]
    },
    {
        "id": "9f7b3471.0501d8",
        "type": "function",
        "z": "38e8fa1d.636de6",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "226fde05.5d8882"
            ]
        ]
    },
    {
        "id": "191b7006.bd588",
        "type": "function",
        "z": "38e8fa1d.636de6",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "8f40912c.00306"
            ]
        ]
    },
    {
        "id": "7569fd78.ded054",
        "type": "ui_text",
        "z": "38e8fa1d.636de6",
        "group": "6da32a3c.3b5664",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "192.168.2.172",
        "layout": "row-spread",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "a5a6418e.9e5ab",
        "type": "mqtt in",
        "z": "38e8fa1d.636de6",
        "name": "LED2",
        "topic": "node2/cmd/led2",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "735511a.c5bfbf"
            ]
        ]
    },
    {
        "id": "2e752ffe.47815",
        "type": "mqtt in",
        "z": "38e8fa1d.636de6",
        "name": "LED1",
        "topic": "node2/cmd/led1",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "54db50fb.e19a2"
            ]
        ]
    },
    {
        "id": "735511a.c5bfbf",
        "type": "change",
        "z": "38e8fa1d.636de6",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "5c7a821f.ccd9ac"
            ]
        ]
    },
    {
        "id": "54db50fb.e19a2",
        "type": "change",
        "z": "38e8fa1d.636de6",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "553f3ebb.e890f"
            ]
        ]
    },
    {
        "id": "5c7a821f.ccd9ac",
        "type": "ui_text",
        "z": "38e8fa1d.636de6",
        "group": "6da32a3c.3b5664",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "553f3ebb.e890f",
        "type": "ui_text",
        "z": "38e8fa1d.636de6",
        "group": "6da32a3c.3b5664",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "984e9922.7df3c8",
        "type": "mqtt in",
        "z": "38e8fa1d.636de6",
        "name": "count",
        "topic": "node2/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "b3091afd.3eaed8"
            ]
        ]
    },
    {
        "id": "b3091afd.3eaed8",
        "type": "ui_numeric",
        "z": "38e8fa1d.636de6",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "6da32a3c.3b5664",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 460,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f09bbf.792b38",
        "type": "mqtt in",
        "z": "38e8fa1d.636de6",
        "name": "DoS Check",
        "topic": "node2/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "f9bb877c.8a9068",
                "5f8f14a6.288edc"
            ]
        ]
    },
    {
        "id": "f9bb877c.8a9068",
        "type": "ui_text",
        "z": "38e8fa1d.636de6",
        "group": "6da32a3c.3b5664",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "5f8f14a6.288edc",
        "type": "ui_toast",
        "z": "38e8fa1d.636de6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node2/cmd/DoS",
        "name": "",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "cf3e1e9d.f3954",
        "type": "ui_text",
        "z": "786ac56a.e1a5dc",
        "group": "c4030d44.bdf53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.173",
        "layout": "row-spread",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "59fb79de.05f7e8",
        "type": "mqtt in",
        "z": "786ac56a.e1a5dc",
        "name": "node3",
        "topic": "node3/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9d425e17.71a1e"
            ]
        ]
    },
    {
        "id": "9d425e17.71a1e",
        "type": "function",
        "z": "786ac56a.e1a5dc",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "16ae98c.a5ed867",
                "dd929883.972f78"
            ]
        ]
    },
    {
        "id": "16ae98c.a5ed867",
        "type": "function",
        "z": "786ac56a.e1a5dc",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "1aff118c.f31e7e"
            ]
        ]
    },
    {
        "id": "dd929883.972f78",
        "type": "function",
        "z": "786ac56a.e1a5dc",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "841b4887.692928"
            ]
        ]
    },
    {
        "id": "1aff118c.f31e7e",
        "type": "ui_gauge",
        "z": "786ac56a.e1a5dc",
        "name": "Temperature",
        "group": "c4030d44.bdf53",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "841b4887.692928",
        "type": "ui_gauge",
        "z": "786ac56a.e1a5dc",
        "name": "Moisture",
        "group": "c4030d44.bdf53",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c9c85c5.748aac",
        "type": "mqtt in",
        "z": "786ac56a.e1a5dc",
        "name": "LED2",
        "topic": "node3/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "e3ab8375.49cfb"
            ]
        ]
    },
    {
        "id": "25a197bb.26aba8",
        "type": "mqtt in",
        "z": "786ac56a.e1a5dc",
        "name": "LED1",
        "topic": "node3/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "c2612009.144ed"
            ]
        ]
    },
    {
        "id": "e3ab8375.49cfb",
        "type": "change",
        "z": "786ac56a.e1a5dc",
        "name": "set msg. colour",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "c11317c1.f235b8"
            ]
        ]
    },
    {
        "id": "c2612009.144ed",
        "type": "change",
        "z": "786ac56a.e1a5dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "91c3b725.d13f08"
            ]
        ]
    },
    {
        "id": "c11317c1.f235b8",
        "type": "ui_text",
        "z": "786ac56a.e1a5dc",
        "group": "c4030d44.bdf53",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "91c3b725.d13f08",
        "type": "ui_text",
        "z": "786ac56a.e1a5dc",
        "group": "c4030d44.bdf53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "ec02b179.b870f",
        "type": "mqtt in",
        "z": "786ac56a.e1a5dc",
        "name": "count",
        "topic": "node3/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "9889b7ca.f894d8"
            ]
        ]
    },
    {
        "id": "9889b7ca.f894d8",
        "type": "ui_numeric",
        "z": "786ac56a.e1a5dc",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "c4030d44.bdf53",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 400,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3f0e8897.cc59f8",
        "type": "mqtt in",
        "z": "786ac56a.e1a5dc",
        "name": "DoS Check",
        "topic": "node3/cmd/DoS",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "ded7e2f2.c244e",
                "51867361.6d4d3c"
            ]
        ]
    },
    {
        "id": "ded7e2f2.c244e",
        "type": "ui_text",
        "z": "786ac56a.e1a5dc",
        "group": "c4030d44.bdf53",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DoS Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "51867361.6d4d3c",
        "type": "ui_toast",
        "z": "786ac56a.e1a5dc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node3/cmd/DoS",
        "name": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "2a707974.f37196",
        "type": "mqtt in",
        "z": "a89f272f.a40e18",
        "name": "node4",
        "topic": "node4/temperatureandmoisture",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "9b9a7e33.4f27a"
            ]
        ]
    },
    {
        "id": "9b9a7e33.4f27a",
        "type": "function",
        "z": "a89f272f.a40e18",
        "name": "",
        "func": "var data=msg.payload;\n\nvar temp=data.split(\"&\");\n\nvar out={};\n\nout[\"temperature\"]=temp[0];\n\nout[\"humidity\"]=temp[1];\n\nmsg.payload=out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "30072504.aaedfa",
                "358d4d3c.eafa42"
            ]
        ]
    },
    {
        "id": "30072504.aaedfa",
        "type": "function",
        "z": "a89f272f.a40e18",
        "name": "Temp.",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "f4ac47e2.57add8"
            ]
        ]
    },
    {
        "id": "358d4d3c.eafa42",
        "type": "function",
        "z": "a89f272f.a40e18",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "959950a9.dadc6"
            ]
        ]
    },
    {
        "id": "f4ac47e2.57add8",
        "type": "ui_gauge",
        "z": "a89f272f.a40e18",
        "name": "Temperature",
        "group": "36753ddf.54ae52",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "959950a9.dadc6",
        "type": "ui_gauge",
        "z": "a89f272f.a40e18",
        "name": "Moisture",
        "group": "36753ddf.54ae52",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Moisture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "ef47a71c.f5ba28",
        "type": "ui_text",
        "z": "a89f272f.a40e18",
        "group": "36753ddf.54ae52",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "IP",
        "format": "192.168.2.174",
        "layout": "row-spread",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "46eafc79.218234",
        "type": "mqtt in",
        "z": "a89f272f.a40e18",
        "name": "LED2",
        "topic": "node4/cmd/led2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "ba97f78.f983308"
            ]
        ]
    },
    {
        "id": "f1414eb1.e740d",
        "type": "mqtt in",
        "z": "a89f272f.a40e18",
        "name": "LED1",
        "topic": "node4/cmd/led1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "15e9dbde.ed44e4"
            ]
        ]
    },
    {
        "id": "ba97f78.f983308",
        "type": "change",
        "z": "a89f272f.a40e18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":(msg.payload=\"off\")? \"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "9b83310b.ebb1e"
            ]
        ]
    },
    {
        "id": "15e9dbde.ed44e4",
        "type": "change",
        "z": "a89f272f.a40e18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"on\")? \"green\":\"red\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "f55f3e43.28c62"
            ]
        ],
        "info": "if (msg.payload < 25)\r\n    msg.payload.color = \"green\";\r\nelse\r\n    msg.payload.color = \"red\";"
    },
    {
        "id": "9b83310b.ebb1e",
        "type": "ui_text",
        "z": "a89f272f.a40e18",
        "group": "36753ddf.54ae52",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "LED2",
        "label": "LED2",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "4f537783.246108",
        "type": "ui_text",
        "z": "a89f272f.a40e18",
        "group": "36753ddf.54ae52",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "DosStatus",
        "label": "DoS Status",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "f55f3e43.28c62",
        "type": "ui_text",
        "z": "a89f272f.a40e18",
        "group": "36753ddf.54ae52",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "LED1",
        "label": "LED1",
        "format": "<font color={{msg.colour}}>{{msg.payload}}</font>",
        "layout": "row-spread",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f95454c.130e1b",
        "type": "mqtt in",
        "z": "a89f272f.a40e18",
        "name": "count",
        "topic": "node4/cmd/count",
        "qos": "0",
        "datatype": "auto",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "b48bc931.d49468"
            ]
        ]
    },
    {
        "id": "52d77f70.e80ab",
        "type": "mqtt in",
        "z": "a89f272f.a40e18",
        "name": "DoS Check",
        "topic": "node4/cmd/DoS",
        "qos": "0",
        "datatype": "utf8",
        "broker": "cdadb2f9.aeabc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "7e983068.35c1a",
                "41d0c518.44e1fc"
            ]
        ]
    },
    {
        "id": "7e983068.35c1a",
        "type": "ui_toast",
        "z": "a89f272f.a40e18",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "node4/cmd/DoS",
        "name": "",
        "x": 420,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b48bc931.d49468",
        "type": "ui_numeric",
        "z": "a89f272f.a40e18",
        "name": "",
        "label": "Irrigation Time",
        "tooltip": "",
        "group": "36753ddf.54ae52",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 460,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "41d0c518.44e1fc",
        "type": "change",
        "z": "a89f272f.a40e18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "(msg.payload=\"Regular\")? \"green\":(msg.payload=\"Block\")?\"red\":\"yellow\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "4f537783.246108"
            ]
        ]
    }
]